.message {
    font-weight: 600;
    color: blue;
}

.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
        text-decoration: none;
        color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 350px;
    height: 70px;
    background-color: #236B8E;
}

.border {
    padding: 90px 50px;
    width: 600px;
    height: 350px;
    border: 1px solid #236B8E;
    border-radius: 0px;
    background-color: #9AC0CD;
}

.btn {
    padding: 10px 40px;
    background-color: #236B8E;
    color: #FFFFFF;
    font-style: oblique;
    font-weight: bold;
    border-radius: 10px;
}

.textbox {
    padding: 10px 40px;
    background-color: #236B8E;
    text-color: #FFFFFF;
    border-radius: 10px;
}

::placeholder {
    color: #FFFFFF;
    opacity: 1;
    font-style: oblique;
    font-weight: bold;
}

.word {
    color: #FFFFFF;
    font-style: oblique;
    font-weight: bold;
    white-space: nowrap;
}

.bottom {
    color: #236B8E;
    font-style: oblique;
    font-weight: bold;
}

.mandatory {
    color: red;
}

.table, th, td {
    border: 1px solid;
    background-color: #236B8E;
    color: #FFFFFF;
}

.editable-cell[contenteditable="true"]:focus {
    border: 1px solid;
    background-color: #236B8E;
    color: #FFFFFF;
}

.tablenoborder {
    background-color: #236B8E;
    color: #000000;
    font-style: oblique;
    font-weight: bold;
}

.link {
    background-color: #236B8E;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
}